Source: maemo-statusmenu-fmtx
Section: libs
Priority: optional
Maintainer: Mohammad Abu-Garbeyyeh <mohammad7410@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake1.9 | automake1.8, libhildon1-dev, libgtk2.0-dev, libglib2.0-dev, libhildondesktop1-dev, libdbus-glib-1-dev, libgconf2-dev, libosso-dev
Standards-Version: 3.7.2

Package: maemo-statusmenu-fmtx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fmtx-middleware (>= 0.30), maemo-applet-fmtx (>= 0.3), osso-statusbar-sound-l10n-mr0 | osso-statusbar-sound-l10n-mr, osso-fm-transmitter-l10n-mr0 | osso-fm-transmitter-l10n-mr
Description: FMTX status menu plugin
 This package contains the status menu plugin for controlling the FMTX
